* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container-todo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #d4ffea;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #000;
  font-size: 24px;
}

.complete-task {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-form {
  margin: 64px 0 32px 0;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #b88c8c;
  outline: none;
  width: 320px;
  background: transparent;
  color: #000;
}

.todo-input::placeholder {
  color: #222;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #b88c8c;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #c53ce0;
}

.todo-button.edit {
  background: #c53ce0;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000;
  background: #d6c7c7;
  padding: 8px;
  border-radius: 5px;
  width: 90%;
}

.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  color: #6b351e;
}

.button span {
  margin: 0 10px;
}

.delete-icon {
  margin-right: 5px;
  font-size: 24px;
}

.button span:hover {
  text-decoration: underline;
}